<div id="mainContent">

	<h1 id="mainTitle">My Teams Stats:</h1>

	<div id="teamStats01">		
	<h1>not implemented</h1>
		<!-- example handlebars template -->
		<!-- <ul class="stats">
		  {{#each stats}} 
			  	<li> 
			      <p><span class="row">{{this.id}}).</span> {{this.stat_runs}}</p> 
			  	</li> 
		  {{/each}}
		</ul> -->

	</div>

</div>