<div id="mainContent">

	<!-- <h1 id="mainTitle">My Teams Stats:</h1> -->

	<div id="currentGame" class="widgetFrame">		

		<!-- This is where home and away teams logos will appear -->

		<!-- This is where the weather data will display -->

	</div>



	<div id="fieldAndBroadcast" class="widgetFrame">		

		<!-- This is where we will show the field name and broadcast station for the game -->

	</div>



	<div id="depthChart" class="widgetFrame">		

		<!-- This is where we will build the tabbed tabbles for home and away team level 1 depth charts -->

	</div>

	<div id="teamStats01">		
		<h1>not implemented</h1>
		<!-- example handlebars template -->
		<!-- <ul class="stats">
		  {{#each stats}} 
			  	<li> 
			      <p><span class="row">{{this.id}}).</span> {{this.stat_runs}}</p> 
			  	</li> 
		  {{/each}}
		</ul> -->

	</div>		


</div>