<div id="mainContent">
<div id="signIn" class="widgetFrame">
  {{status}}
  <form action="/auth/signIn" method="POST">
    <div class="container">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username">
      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password">
      
      <button type="submit">Sign In</button>

      <a href="/auth/signUp">Need to sign up click here</a>
    </div>
  </form>
</div>
</div>

	



	

			


