<div id="mainContent">
    <!-- <h1 id="mainTitle">My Teams Stats:</h1> -->
    <div id="signUp" class="widgetFrame">
        <form action="/auth/signUp" method="POST">
            <div class="container">
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username">
                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password">
                <label><b>Email</b></label>
                <input type="email" placeholder="Enter Email" name="email">
                
                <label><b>Your Favorite Team</b></label>
                <input type="team" placeholder="Your Favorite Team" name="team">
                <button type="submit">Sign In</button>
            </div>
            
        </form>
        <!-- This is where we will show the field name and broadcast station for the game -->
    </div>
</div>