

$accentColor: #2a03ff;

.TOR {
	$accentColor: #000;
}
.TB {
	$accentColor: #000;
}
.BAL {
	$accentColor: #000;
}
.BOS {
	$accentColor: #000;
}
.NYY {
	$accentColor: #000;
}
.KC {
	$accentColor: #000;
}
.CLE {
	$accentColor: #000;
}
.CWS {
	$accentColor: #000;
}
.DET {
	$accentColor: #000;
}
.MIN {
	$accentColor: #000;
}
.SEA {
	$accentColor: #000;
}
.LAA {
	$accentColor: #000;
}
.OAK {
	$accentColor: #000;
}
.TEX {
	$accentColor: #000;
}
.HOU {
	$accentColor: #000;
}
.CIN {
	$accentColor: #000;
}
.PIT {
	$accentColor: #000;
}
.CHC {
	$accentColor: #000;
}
.STL {
	$accentColor: #000;
}
.MIL {
	$accentColor: #000;
}
.LAD {
	$accentColor: #000;
}
.ARI {
	$accentColor: #000;
}
.SF {
	$accentColor: #000;
}
.COL {
	$accentColor: #000;
}
.SD {
	$accentColor: #000;
}
.PHI {
	$accentColor: #000;
}
.NYM {
	$accentColor: #000;
}
.MIA {
	$accentColor: #000;
}
.ATL {
	$accentColor: #000;
}
.WSH {
	$accentColor: #000;
}

